#DADOS COLOCADOS AFIM DE UM EXEMPLO PARA CRIAÇÕES DE .ENV em servidores

#BANCO DE DADOS RACKTABLES
DB_HOST=mariadb
DB_PORT=3306
DB_USER=rackuser
DB_PASSWORD=rackpass
DB_NAME=racktables

#VARIAVEIS DE SEGURANÇA
SECRET_KEY=chave-secreta
ALGORITHM=HS256 #importante alterar dependendo de qual algorithmo a API irá trabalhar
ACCESS_TOKEN_EXPIRE_MINUTES=1440 # 24 HR

#VARIAVEIS DO SEGUNDO BANCO DE DADOS PARA SIMULAR OS DADOS DO USUARIOS
USER_DB_HOST=192.168.1.51
USER_DB_USER=auth_user
USER_DB_PASSWORD=senha_dos_usuarios
USER_DB_NAME=user_credentials
