# Virtual environment
.venv/
venv/
env/

#envs
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build / cache
dist/
build/
*.egg-info/

# Docker
*.pid